TELEGRAM_BOT_TOKEN=123456789:AAExampleTokenReplaceWithYourOwn
TELEGRAM_CHANNEL_ID=@seucanal
SUBSTACK_RSS_URL=https://seudominio.substack.com/feed
ANTHROPIC_API_KEY=sk-ant-api03-ExampleReplaceWithYourOwn
VOYAGE_API_KEY=pa-ExampleReplaceWithYourOwn
